<!DOCTYPE html>
<html>
<head>
    <title>Para o amor da minha vida 💖</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Oi meu amor 💕</h1>

<p id="msg">Feliz pascoa minha princesa</p>

<button onclick="mostrarMensagem()">Clique aqui</button>

<p id="extra" style="display:none;">
    Saiba que, hoje, na nossa primeira pascoa eu espero q seu dia seja incrivel meu amor, maravilhoso como voce é na minha vida
    Eu te amo meu amor ❤️
</p>

<audio autoplay loop>
    <source src="{{ url_for('static', filename='musica.mp3') }}" type="audio/mpeg">
</audio>

<script>
function mostrarMensagem() {
    document.getElementById("extra").style.display = "block";
}
</script>

</body>
</html>